.chatroomContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 3;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #0b141a;
}
.placeholderContainer {
  background-color: #222e35;
  height: 100vh;
  object-fit: contain;
  align-items: center;
  justify-content: center;
  display: flex;
}
