.placeholderContainer {
  background-color: #222e35;
  height: 100vh;
  object-fit: contain;
  align-items: center;
  justify-content: center;
  display: flex;
}
.placeholderContainer img {
  /* height: 200px;
  width: 200px; */
}
