.leftHeaderContainer {
  background-color: #1b242a;
  height: 7vh;
  min-height: 7vh;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profileImageContainer {
  align-items: center;
  justify-content: center;
  margin-left: 17px;
  background-color: rgba(255, 255, 255, 0.365);
  height: 40px;
  width: 40px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  object-fit: fill;
  overflow: hidden;
  align-self: center;
}
.profileImageContainer img {
  cursor: pointer;
  height: 100%;
  width: 100%;
  align-self: center;
}

.leftHeaderContainer .rightSideIcons {
  display: flex;
  gap: 20px;
}
.leftHeaderContainer .rightSideIcons img {
  height: 20px;
  filter: invert(60%);
  cursor: pointer;
}
