.rightHeaderContainer {
  background-color: #1b242a;
  height: 7vh;
  min-height: 7vh;
  width: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.imageContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageContainer img {
  height: 40px;
  margin-left: 15px;
}
.leftSide {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
.nameAndInfo {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.nameAndInfo :nth-child(2) {
  opacity: 0.5;
}
.icons {
  object-fit: contain;
  display: flex;
  gap: 20px;
  margin-right: 20px;
}
.icons img {
  height: 17px;
  filter: invert(70%);
  cursor: pointer;
}
