@font-face {
  font-family: Neue-Helvetica-75-Bold;
  src: url("assets/fonts/NeueHelveticaBQ-Bold.otf");
}
.App {
  text-align: center;
  background-color: #02061e;
  height: 100vh;
  width: 100%;
  color: white;
  /* font-family: Neue-Helvetica-75-Bold; */
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111b21;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #374045;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
